.wrap {
    top: 0;
    display: flex;
    justify-content: center;
}
.wrapTopbar {
    width: 1300px;
    height: 43.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-icon {
        font-size: 18px;
        color: var(--primary);
        margin: 0;
        padding: 0;
    }

    a {
        cursor: pointer;
    }
}
.wrapTopbar span {
    font-size: 11.2px;
    color: #494949;
    text-transform: uppercase;
    margin-right: 27px;
}
.topbarText {
    padding-left: 10px;
}

.topbarList > p {
    display: flex;
    align-items: center;
}
